build/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
install_manifest.txt
CTestTestfile.cmake
.cmake/
test/main.cpp

*.exe
*.dll
*.so
*.a
*.lib
*.pdb

*.o
*.obj
*.idx

.vscode/        # Visual Studio Code configuration
.idea/          # JetBrains IDEs (e.g., CLion)
*.swp           # Vim swap files
*~              # Temporary files
.vs/            # Visual Studio cache files

.DS_Store       # macOS
Thumbs.db       # Windows
